@namespace MidwayCampaign.Pages.Games.MidwayGame
@using MidwayEngine
@inherits MidwayMapBase

<div class="MidwayMapFrame">
  <div class="MidwayMapGridFrame">
    @for (int i = 0; i < 12; ++i)
    {
      @for (int j = 0; j < 12; ++j)
      {
        <div class="MidwayGridSquare" />
      }
    }
  </div>
  @foreach (ForceRef force in this.midway!.forces)
  {
    if (
      force.visible ||
      force.isAllied)
    {
      if (force.isAllied)
      {
        if (force.letter == "*")
        {
          <div class="USMidwayIsland" style="@this.forceStyle(force)">
          </div>
        }
        else
        {
          <span class="USForceText" style="@this.forceStyle(force)">
            @force.letter
          </span>
        }
      }
      else
      {
        <span class="JapaneseForceText" style="@this.forceStyle(force)">
          @force.letter
        </span>
      }
    }
  }
</div>